<app-main-nav></app-main-nav>
<div>
  <div class="data" fxLayout="row wrap" fxLayoutGap=10px>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Your assets</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-data-field (calcEvent)="calculateNetWorth()" name="money in bank" #bankMoney></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="invesments" #invesments></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="car(s) value(s)" #cars></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="home(s) value(s)" #homes></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="personal property" #personalProperty></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="cash" #cash></app-data-field>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Your liabilites</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-data-field (calcEvent)="calculateNetWorth()" name="car loan(s)" #carLoans></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="credit card balance" #credit></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="student loans" #student></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="mortage" #mortage></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="taxes due" #taxes></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="debt" #debt></app-data-field>
        <app-data-field (calcEvent)="calculateNetWorth()" name="medical bills" #medicalBills></app-data-field>
      </mat-card-content>
    </mat-card>
  </div>
  
  
  <div class="options" fxLayout="column" fxLayoutGap=10px fxLayoutAlign="center center">
    <button mat-button color="primary" (click)="calculateNetWorth()">Calculate</button>
    <p body-1>Your net worth: {{ formattedNetWorth }}</p>
  </div>
</div>
<router-outlet></router-outlet>
